<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || 'The Number API' %></title>
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>
  <body>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
