<h2>Welcome to the Number API</h2>
<p>The numbers API is a unique service, you can request a number and it will return it! Not only that but if you request, we can return it in .xml or .json.. </p>

<h4>Try it now!</h4>

<% @random.each do |no| %>
<a href='<%= no %>'><%= no %></a>
<%end%>

<hr>

<p>Coded on the train home to Leeds from CharityHack,Built for <a href='https://twitter.com/hadleybeeman'>Hadley Beeman</a> by <a href='http://www.thehodge.co.uk'>Dom Hodgson</a> <small><a href='http://www.twitter.com/thehodge'>@thehodge</a></small>, It's on github so feel free to send a pull request</p>